<div class="app-plane-handler">
    <div class="plane-layering" cdkDropList [cdkDropListData]="planes" (cdkDropListDropped)="onDrop($event)">
        <cdk-virtual-scroll-viewport [itemSize]="40">
            <div *cdkVirtualFor="let plane of planes">
                <ngx-plane-module
                    [plane]="plane"
                    (choosePlane)="onClick($event)"
                    (changeVisibility)="onChangeVisibility($event)"
                ></ngx-plane-module>
                <mat-divider></mat-divider>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <mat-divider></mat-divider>
    <div class="action-wrapper">
        <ngx-icon-button (click)="onAdd500()" matTooltip="Neue Ebene hinzufügen" matBadge="500">
            queue
        </ngx-icon-button>
        <ngx-icon-button (click)="onAdd()" matTooltip="Neue Ebene hinzufügen"> queue </ngx-icon-button>
        <ngx-icon-button matTooltip="Neuen Ordner hinzufügen">create_new_folder</ngx-icon-button>
        <ngx-icon-button matTooltip="Aktuelle Ebene löschen">delete</ngx-icon-button>
    </div>
</div>
