:host {
    min-width: 250px;
}

cdk-virtual-scroll-viewport {
    height: calc(100% - 40px);
}

.protocol-module {
    display: flex;
    align-items: center;
    $size: 30px;
    height: $size;
    max-height: $size;
    min-height: $size;
    cursor: pointer;

    img {
        background: white;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    &.active {
        background: #00aaff;
    }

    &.lost {
        color: rgba(0, 0, 0, 0.4);
        font-style: italic;
    }
}

.action-row {
    height: 40px;
}
